@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-sans);
}

html[data-cookie-consent] .cookie-consent-banner {
  display: none;
}